[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Citrix Workspace Engine
StartupWMClass=Wfica
NoDisplay=true
MimeType=application/x-ica;
Categories=Application;Network;X-Red-Hat-Base;X-SuSE-Core-Internet;
Icon=citrix-receiver
TryExec=/opt/Citrix/ICAClient/wfica
Exec=/opt/Citrix/ICAClient/adapter -icaroot /opt/Citrix/ICAClient %f
